
<h2>Add a New Child</h2>

<form action="/feed/create-child" method="POST" enctype="multipart/form-data">

    <div>
        <label>Name</label>
        <input type="text" name="theName">
    </div>

        <div>
        <label>Date of Birth</label>
        <input type="date" name="theDateOfBirth">
        </div>

        <div>
        <label>Image</label>
        <input type="file" name="childImage">
        </div>

        <button>Save</button>
</form>

