<h1>{{title}}</h1>
<p>Welcome to the {{title}}</p>

<div class="toggle-box">
  
  <div class="login">
    <h1>Login</h1>

    <form action="/login" method="POST">

    {{!-- with passport name must = username --}}
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">
    {{!-- name must = password --}}
    <button>Submit</button>
    </form>
  </div>

  <div class="signup">
    <h1>Signup For An Account</h1>

    <form action="/signup" method="POST">

      <label for="">Email</label>
      <input type="email" name="theEmail">

      <label for="">Username</label>
      <input type="text" name="theUsername">

      <label for="">Password</label>
      <input type="password" name="thePassword">

    <button>Submit</button>
    </form>
  </div>

</div>

</form>