// $primary-color: whitesmoke;

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}


.welcome {
  margin-right: 60px;
}

.logo {
  max-height: 33px;
  margin-left: 33px;
}

.side-nav {
  color: #fff;
  background-color: #ee6e73;
  width: 56px;
  line-height: 56px;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}